<%= form_with(model: deputado, local: true) do |form| %>
  <% if deputado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deputado.errors.count, "error") %> prohibited this deputado from being saved:</h2>

      <ul>
      <% deputado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cod_dep %>
    <%= form.number_field :cod_dep %>
  </div>

  <div class="field">
    <%= form.label :uri %>
    <%= form.text_field :uri %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :sigla_partido %>
    <%= form.text_field :sigla_partido %>
  </div>

  <div class="field">
    <%= form.label :uri_partido %>
    <%= form.text_field :uri_partido %>
  </div>

  <div class="field">
    <%= form.label :sigla_uf %>
    <%= form.text_field :sigla_uf %>
  </div>

  <div class="field">
    <%= form.label :id_legislatura %>
    <%= form.number_field :id_legislatura %>
  </div>

  <div class="field">
    <%= form.label :url_foto %>
    <%= form.text_field :url_foto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
