<%= form_for @deputado, :html => { :class => "form-horizontal deputado" } do |f| %>

  <% if @deputado.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@deputado.errors.count, "error") %> prohibited this deputado from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @deputado.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :cod_dep, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cod_dep, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cod_dep) %>
  </div>
  <div class="form-group">
    <%= f.label :uri, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :uri, :class => 'form-control' %>
    </div>
    <%=f.error_span(:uri) %>
  </div>
  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :sigla_partido, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sigla_partido, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sigla_partido) %>
  </div>
  <div class="form-group">
    <%= f.label :uri_partido, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :uri_partido, :class => 'form-control' %>
    </div>
    <%=f.error_span(:uri_partido) %>
  </div>
  <div class="form-group">
    <%= f.label :sigla_uf, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sigla_uf, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sigla_uf) %>
  </div>
  <div class="form-group">
    <%= f.label :id_legislatura, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :id_legislatura, :class => 'form-control' %>
    </div>
    <%=f.error_span(:id_legislatura) %>
  </div>
  <div class="form-group">
    <%= f.label :url_foto, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :url_foto, :class => 'form-control' %>
    </div>
    <%=f.error_span(:url_foto) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deputados_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
