<%- model_class = Deputado -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:cod_dep) %></th>
      <th><%= model_class.human_attribute_name(:uri) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:sigla_partido) %></th>
      <th><%= model_class.human_attribute_name(:uri_partido) %></th>
      <th><%= model_class.human_attribute_name(:sigla_uf) %></th>
      <th><%= model_class.human_attribute_name(:id_legislatura) %></th>
      <th><%= model_class.human_attribute_name(:url_foto) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @deputados.each do |deputado| %>
      <tr>
        <td><%= link_to deputado.id, deputado_path(deputado) %></td>
        <td><%= deputado.cod_dep %></td>
        <td><%= deputado.uri %></td>
        <td><%= deputado.nome %></td>
        <td><%= deputado.sigla_partido %></td>
        <td><%= deputado.uri_partido %></td>
        <td><%= deputado.sigla_uf %></td>
        <td><%= deputado.id_legislatura %></td>
        <td><%= deputado.url_foto %></td>
        <td><%=l deputado.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      deputado_path(deputado), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_deputado_path(deputado), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      deputado_path(deputado),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_deputado_path,
            :class => 'btn btn-primary' %>
