<p id="notice"><%= notice %></p>

<h3>Pesquisa</h3>
<div class="container">
  <div class="form-row">
    <%= form_tag listar_deputados_path, method: :get, id: "pesquisa-deputado-form" do %>
      <div class="col-md-4">
        <%= text_field_tag :nome, params[:nome], class: "form-control search-box", placeholder: "Nome do deputado" %>
      </div>
      <div class="col-md-2">
        <%= select_tag :sigla_uf, options_for_select([["Todos os Estados" , ""], 
                                                ["Acre" , "AC"], 
                                                ["Alagoas", "AL"],
                                                ["Amazonas", "AM"],
                                                ["Amapá", "AP"],
                                                ["Bahia", "BA"],
                                                ["Ceará", "CE"],
                                                ["Distrito Federal", "DF"],
                                                ["Espírito Santo", "ES"],
                                                ["Goiás", "GO"],
                                                ["Maranhão", "MA"],
                                                ["Minas Gerais", "MG"],
                                                ["Mato Grosso do Sul", "MS"],
                                                ["Mato Grosso", "MT"],
                                                ["Pará", "PA"],
                                                ["Paraíba", "PB"],
                                                ["Pernambuco", "PE"],
                                                ["Piauí", "PI"],
                                                ["Paraná", "PR"],
                                                ["Rio de Janeiro", "RJ"],
                                                ["Rio Grande do Norte", "RN"],
                                                ["Rondônia", "RO"],
                                                ["Roraima", "RR"],
                                                ["Rio Grande do Sul", "RS"],
                                                ["Santa Catarina", "SC"],
                                                ["Sergipe", "SE"],
                                                ["São Paulo", "SP"],
                                                ["Tocantins", "TO"]], @params[:sigla_uf]), { class: 'form-control' } %>
      </div>
      <div class="col-md-2">
        <%= select_tag :itens, options_for_select([["18 itens" , "18"], 
                                                ["36 itens" , "36"], 
                                                ["72 itens", "72"]], @params[:itens]), { :class => 'form-control' } %>
      </div>
      <div class="col-md-2">
        <%= select_tag :ordenar_por, options_for_select([["Nome A-Z" , "nome"], 
                                                ["Sigla do partido A-Z" , "siglaPartido"], 
                                                ["UF A-Z", "siglaUF"]], @params[:ordenar_por]), { :class => 'form-control' } %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-success") do %>
          <i class="fa fa-search"></i> Pesquisar
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<h1>Lista de Deputados da Câmara</h1>

<div class="container">
  <% ajusta_grid(@lista_deputados, 6).each do |linha| %>
    <div class="row">
    <% linha.each do |deputado| %>
      <div class="col-md-2">
        <%= render partial: 'card_deputado', locals: { deputado: deputado } %>
      </div>
    <% end %>    
    </div>
  <% end %>
</div>

<%= render partial: 'paginacao', locals: { params: @params } %>




    